.gallery__noresult {
  max-width: max-content;
  margin: 0 auto;
}

.gallery__list {
  display: grid;
  // grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 10px;
  isolation: isolate;
}

.gallery__item {
  margin: 4px;
}