.gallery-column__list {
  margin: 0;
  padding: 0;
  list-style: none;
  animation: in 1s ease-in
}

.gallery-column__item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

@keyframes in {
  from {
    background-color: red;
  }

  to {
    background-color: transparent;
  }
}